.chat {
  flex: 2;

  .chatInfo {
    height: 50px;
    background-color: var(--color-bg-main-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--color-text);
  }

  .messages {
    padding: 10px;
    height: calc(100% - 160px);
    overflow: scroll;
  }

  .noMessages {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
  }
}
