.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      background-color: var(--color-bg-main-light);
      padding: 10px 20px;
      border-radius: 0px 10px 10px 10px;
      max-width: max-content;
    }
  }

  &.owner {
    flex-direction: row-reverse;

    .messageContent {
      align-items: flex-end;
      p {
        background-color: var(--color-bg-btn-light);
        color: var(--color-text);
        border-radius: 10px 0px 10px 10px;
      }
    }
  }
}
