.sidebar {
  flex: 1;
  background-color: var(--color-bg-main);
  position: relative;

  .navbar {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-main-dark);
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: var(--color-text-light);

    button {
      color: white;
      font-size: 10px;
      padding: 0 4px;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
